<%- include('partials/header'); -%>

<header>
  <img class="imgHome" src="/transparent.png" alt="" />
  <div class="headings">
    <h2>The Quintessential Quintuplets</h2>
    <h3>Nakano Quintuplets</h3>
    <a href="/quintuplets" class="btn">View Characters</a>
  </div>
</header>

<%- include('partials/footer'); -%>
