<%- include('partials/header'); -%>

<div hidden id="spinner"></div>

<form>
  <h2>Log in</h2>

  <label for="username">Username</label>
  <input type="text" name="username" />
  <div class="error username"></div>

  <label for="Password">Password</label>
  <input type="password" name="password" />
  <div class="error password"></div>

  <button>Log in</button>
</form>

<script>
  const form = document.querySelector('form');
  const usernameError = document.querySelector('.username.error');
  const passwordError = document.querySelector('.password.error');
  const spinner = document.getElementById('spinner');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    usernameError.textContent = '';
    passwordError.textContent = '';

    // Get the form data
    const username = form.username.value;
    const password = form.password.value;

    try {
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({ username, password }),
        headers: {
          'Content-Type': 'application/json',
        },
      });
      const data = await res.json();
      spinner.setAttribute('hidden', '');
      // console.log(data);
      if (data.errors) {
        usernameError.textContent = data.errors.username;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        spinner.removeAttribute('hidden');
        location.assign('/');
      }
    } catch (err) {
      // console.log(err);
      throw Error(err);
    }
  });
</script>

<%- include('partials/footer'); -%>
