<%- include('partials/header'); -%>

<ul class="top_row">
  <li class="character">
    <div class="swap">
      <img src="/ichika_v2.png" alt="Ichika Nakano" />
      <img rel="preload" src="/ichika_hover.webp" alt="Ichika Nakano" />
    </div>
    <h4>Ichika Nakano</h4>
    <p><strong class="ichika tooltip-bottom-left" data-tooltip="1st (Ichi (一))">Ichi</strong>ka is mature, helpful and playful.</p>
  </li>
  <li class="character">
    <div class="swap">
      <img src="/nino_v2.png" alt="Nino Nakano" />
      <img rel="preload" src="/nino_hover.webp" alt="Nino Nakano" />
    </div>
    <h4>Nino Nakano</h4>
    <p><strong class="nino tooltip-bottom-left" data-tooltip="2nd (Ni (二))">Ni</strong>no is aggressive, rude and protective.</p>
  </li>
  <li class="character">
    <div class="swap">
      <img src="/miku_v2.png" alt="Miku Nakano" />
      <img rel="preload" src="/miku_hover.webp" alt="Miku Nakano" />
    </div>
    <h4>Miku Nakano</h4>
    <p><strong class="miku tooltip-bottom-left" data-tooltip="3rd (Mi (三))">Mi</strong>ku is silent, very outspoken and reserved.</p>
  </li>
</ul>
<ul class="buttom_row">
  <li class="character">
    <div class="swap">
      <img src="/yotsuba_v2.png" alt="Yotsuba Nakano" />
      <img rel="preload" src="/yotsuba_hover.webp" alt="Yotsuba Nakano" />
    </div>
    <h4>Yotsuba Nakano</h4>
    <p><strong class="yotsuba tooltip-bottom-left" data-tooltip="4th (Yotsu (四))">Yotsu</strong>ba is cheerful, confident and outgoing.</p>
  </li>
  <li class="character">
    <div class="swap">
      <img src="/itsuki_v2.png" alt="Itsuki Nakano" />
      <img rel="preload" src="/itsuki_hover.webp" alt="Itsuki Nakano" />
    </div>
    <h4>Itsuki Nakano</h4>
    <p><strong class="itsuki tooltip-bottom-left" data-tooltip="5th (Itsu (五)),">Itsu</strong>ki is serious, wise and earnest.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
