<%- include('partials/header'); -%>

<form>
  <h2>Sign up</h2>
  <!-- 
    Password Requirement
		- At least 12 characters
		- Must have Lower Case, Upper Case, Digits and Symbols (LUDS)
  -->
  <label for="username">Username</label>
  <input type="text" name="username" required />
  <div class="error username"></div>

  <label for="mainPassword">Password</label>
  <input type="password" name="password" id="mainPassword" required />
  <div class="error password"></div>
  <span id="StrengthDisp" class="badge displayBadge"></span>

  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="C onfirmPassword" id="confirmPassword" required />
  <div class="errPassword" id="ErrConfirmPassword"></div>

  <button id="formButtom" disabled>Sign up</button>
</form>

<script>
  const form = document.querySelector('form');
  const usernameError = document.querySelector('.username.error');
  const passwordError = document.querySelector('.password.error');

  // Sign up user
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    usernameError.textContent = '';
    passwordError.textContent = '';

    // Get the form data
    const username = form.username.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username, password }),
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        usernameError.textContent = data.errors.username;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }
    } catch (err) {
      // console.log(err);
      throw Error(err);
    }
  });

  // --------------------------------------------------------------------
  // Password Requirement and Validation
  function checkPasswordValidation(value) {
    const isWhitespace = /^(?=.*\s)/;
    if (isWhitespace.test(value)) {
      return 'Password must not contain Whitespaces.';
    }

    const isContainsUppercase = /^(?=.*[A-Z])/;
    if (!isContainsUppercase.test(value)) {
      return 'Password must have at least one Uppercase Character.';
    }

    const isContainsLowercase = /^(?=.*[a-z])/;
    if (!isContainsLowercase.test(value)) {
      return 'Password must have at least one Lowercase Character.';
    }

    const isContainsNumber = /^(?=.*[0-9])/;
    if (!isContainsNumber.test(value)) {
      return 'Password must contain at least one Digit.';
    }

    const isContainsSymbol = /^(?=.*[~`!@#$%^&*()--+={}\[\]|\\:;"'<>,.?/_₹])/;
    if (!isContainsSymbol.test(value)) {
      return 'Password must contain at least one Special Symbol.';
    }

    const isValidLength = /^.{12,16}$/;
    if (!isValidLength.test(value)) {
      return 'Password must be 12-16 Characters Long.';
    }
    strengthBadge.classList.add('valid');
    return 'Password is Valid.';
  }

  // Password Input Indicator
  // timeout before a callback is called
  let timeout;

  // traversing the DOM and getting the input and span using their IDs

  let password = document.getElementById('mainPassword');
  let strengthBadge = document.getElementById('StrengthDisp');

  // Adding an input event listener when a user types to the password input
  password.addEventListener('input', () => {
    //The badge is hidden by default, so we show it
    strengthBadge.style.display = 'block';
    clearTimeout(timeout);

    //We then call the StrengChecker function as a callback then pass the typed password to it
    timeout = setTimeout(() => checkPasswordValidation(password.value), 500);
    //We then set the innerHTML of the span to the returned value of the checkPasswordValidation function
    strengthBadge.innerHTML = checkPasswordValidation(password.value);
    //Incase a user clears the text, the badge is hidden again
    if (password.value.length !== 0) {
      strengthBadge.style.display != 'block';
    } else {
      strengthBadge.style.display = 'none';
    }
  });

  // --------------------------------------------------------------------

  // <input type="password" name="Password" id="mainPassword" required />
  // <span id="StrengthDisp" class="badge displayBadge"></span>

  // <label for="confirmPassword">Confirm Password</label>
  // <input type="password" name="ConfirmPassword" id="confirmPassword" required />

  let inputPass = document.getElementById('confirmPassword');

  function checkPassword() {
    let mainPass = document.getElementById('mainPassword').value;
    let confirmPassword = document.getElementById('confirmPassword').value;
    console.log(mainPass, confirmPassword);
    if (mainPass != confirmPassword) {
      document.getElementById('ErrConfirmPassword').innerHTML = 'Password does not match';
      document.getElementById('ErrConfirmPassword').style.color = 'red';
      document.getElementById('formButtom').disabled = true;
    } else {
      document.getElementById('ErrConfirmPassword').innerHTML = 'Password matched';
      document.getElementById('ErrConfirmPassword').style.color = 'green';
      document.getElementById('formButtom').disabled = false;
    }
  }

  inputPass.addEventListener('input', () => {
    checkPassword();
  });
</script>

<%- include('partials/footer'); -%>
